@page
@model PokemonWebApp.Pages.Pokemons.DetailModel
@{
}

<div class="row-text-center">
    <h1>
        Confirmação de exclusão 
    </h1>
    <div class="row">
        <h3>
            Você realmente deseja deletar este Pokemon @Html.DisplayFor(model => model.Pokemon.nome)? 
        </h3>
    </div>
</div>
<form method="post">
    <input  type="hidden" asp-for="Pokemon.ID"/>
    <input type="submit" value="Deletar"class="btn btn-danger" />
</form>